<div class="card">
    <div class="card-body">
        <h2>Kup Dyplomatów</h2>
        <form method="post" action="{% url 'buy_diplomats' %}">
            {% csrf_token %}
            <p class="range-field">
                Koszt: <span id="result_diplomats"></span>
                <input type="range" id="diplomats_form" name="number_to_buy" min="0" onchange="change()" value="0"/>
                <input type="hidden" name="cost" id="diplomats_cost"/>
            </p>
            <button type="submit" class="btn btn-primary">Kup dyplomatów</button>
        </form>
    </div>
</div>

<script>
    function cost(str_number) {
        let number = parseInt(str_number);
        return ( {{ BASE_DIPLOMAT_COST }} * ({{ current }} * number + (number ** 2 + number) / 2))
    }

    let gold = {{ user.gold|floatformat:"0" }};
    let n = 0;
    while (true) {
        if (cost(n) <= gold) {
            n += 1;
        } else {
            n -= 1;
            document.getElementById("diplomats_form").max = n;
            break;
        }
    }

    function change() {
        document.getElementById('result_diplomats').innerHTML = cost(document.getElementById("diplomats_form").value);
        document.getElementById('diplomats_cost').value = cost(document.getElementById("diplomats_form").value);
    }

</script>
