form .alert ul li {
    list-style: none !important;
}

form .alert ul {
    padding: 0 !important;
    margin: 0 !important;
}

.asteriskField {
    display: none !important;
}

.navbar-nav li:hover .dropdown-menu {
    display: block!important;
}

nav ul li:hover, nav ul li.active {
    background-color: rgba(0, 0, 0, 0.0);
!important;
}