<!doctype html>
<html lang="en">
<head>
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">


    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <title>{% block title %}Wasalowie{% endblock %}</title>


</head>
<body>

<nav>
    <div class="nav-wrapper white">
        <a class="brand-logo" href="{% url 'home' %}">Wasalowie</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        {% if user.is_authenticated %}

            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="disabled"> {{ user.title }} {{ user.username }}</a>
                </li>
                <li><a class="disabled"><span class="fas fa-coins"></span> {{ user.gold |floatformat:"0" }}</a></li>

                <li class="tooltipped" data-position="bottom" data-tooltip="Własne punkty: {{ user.points }}">
                    <a class="disabled" href="#"> <span class=' fas fa-star'></span> {{ user.all_points }}</a>
                </li>
                <li><a href="" class="dropdown-button" data-activates="dropdown1">Moje konto<i
                        class="material-icons right">arrow_drop_down</i></a></li>
                <div class="dropdown-content" id="dropdown1">
                    <a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> Wyloguj</a>
                    <a href="{% url 'password_change' %}"><span class="fas fa-key"></span> Zmień hasło</a>
                </div>

            </ul>
            <ul class="side-nav center-align" id="mobile-demo">
                <li>
                    <a class="disabled"> {{ user.title }} {{ user.username }}</a>
                </li>
                <li><a class="disabled"><span class="fas fa-coins"></span> {{ user.gold |floatformat:"0" }}</a></li>

                <li class="tooltipped" data-position="bottom" data-tooltip="Własne punkty: {{ user.points }}">
                    <a class="disabled" href="#"> <span class=' fas fa-star'></span> {{ user.all_points }}</a>
                </li>
                <li><a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> Wyloguj</a></li>
                <li><a href="{% url 'password_change' %}"><span class="fas fa-key"></span> Zmień hasło</a></li>
            </ul>

        {% endif %}
                </div>

</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script>
    $(".button-collapse").sideNav();
</script>
<script>
    $(document).ready(function () {
        $('.dropdown-button').dropdown({
                hover: true, // Activate on hover
            }
        );
    });
</script>
</body>
